@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .desk {
        display: none;
    }

    .mobile {
        display: block;
    }
    
}

@media (max-width: 992px) and (min-width: 770px) {
}

@media (max-width: 768px) {
    body section.pageLogin {
        width: 100%;
        height: 100%;
    
        background: #ffad38;
        background-position: center bottom;
        background-size: cover;
    }
    
    body section.pageVideo {
        width: 100%;
        height: 100%;
    
        background: #ffad38;
        background-position: center bottom;
        background-size: cover;
    }

    body section.login .logoLogin {
        padding-top: 30px;
        position: relative;
    }
    body section.login .containerForms {
        top: 0;
        padding: 40px 0 0 0;
    }
    p {
        font-size: 1rem;
    }

    body section.login .loginTittle h1 {
        font-size: 2rem;
    }

    body section.login .loginTittle h3 {
        font-size: 1.6rem;
    }
    .footer {
        align-self: flex-end;
        margin-top: -20px;
    }
}

@media (max-width: 680px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-height: 900px) {
}

@media (max-height: 800px) {
}

@media (max-height: 600px) {
}


@media (max-width: 400px) {
    
}