/* -------------- GERAL ------------- */
html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Globotipo Condensada' !important;
    font-weight: bold;
    font-style: normal;
    color: #edaf59;
}

img {
    height:intrinsic;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.rownopad {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
}

.desk {
    display: block;
}

.mobile {
    display: none;
}

section .image img {
    width: 100%;
    position: absolute;
}

.nopad {
    padding-left: 0;
    padding-right: 0;
}
.modal-open .containerGeral {
    padding-right: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.modal-dialog {
    max-width: 100%;
    width: 100%;
    margin: 0;
}

.modal-content {
    border-radius: 0;
    border: 0;
}

.modal-body {
    padding: 0;
}

.modal {
    padding-right: 0 !important;
}
.image360 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 500px;
    background: black;
}

.image360 img {
    width: 100%;
    
    
}
.back {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    border-radius: 200px;
    width: 70px;
    height: 70px;
    opacity: 1;
    background: black;
}
.back img{
    width: 100%;
}

.modal-dialog .modal-content .modal-body button.close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: white;
    padding: 10px;
    border-radius: 200px;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.st0:hover {
    fill:#000000;
}
.modal-dialog .modal-content .modal-body iframe {
    height: 100%;
}
/* -------------- LOGIN ------------- */
body section.pageLogin {
    width: 100%;
    height: 100%;

    background: url(../imgs/fundoDesk.jpg);
    background-position: center bottom;
    background-size: cover;
}

body section.pageVideo {
    width: 100%;
    height: 100%;

    background: url(../imgs/fundoDesk.jpg);
    background-position: center bottom;
    background-size: cover;
}


body section.login {
    overflow-y: scroll;
}

body section.login {
    scrollbar-width: none;
}

body section.login::-webkit-scrollbar {
    width: 0px;
}

body section.login::-webkit-scrollbar-track {
    background: transparent;
}

body section.login::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0px;
  border: none;
}


body section.login .logoLogin {
    padding-top: 60px;
    align-self: flex-start;
}
body section.login .logoLogin img{
    width: 100%;
}

body section.login .containerForms {
    top: -80px;
    padding: 140px 0 20px;
    color: #000000;
    z-index: 2;
}

body section.login input, body section.login select {
    border: 4px solid #000000;
    border-radius: 0;
    margin-bottom: 10px;
    background: none;
    color: #000000 !important;
}

body section.login input::placeholder, body section.login select::placeholder {
    text-transform: uppercase;
    color: #000000;
    opacity: 1;
}
body section.login input:-ms-input-placeholder, body section.login select:-ms-input-placeholder {
    color: #000000;
}
body section.login input::-ms-input-placeholder, body section.login select::-ms-input-placeholder {
    color: #000000;
}

body section.login input:active, body section.login input:hover, body section.login input:focus, body section.login input:focus-within, body section.login input:focus-visible {
    background: none;
    box-shadow: none;
    border: 4px solid rgba(0, 0, 0, 0.5);
}

body section.login select:active, body section.login select:hover, body section.login select:focus, body section.login select:focus-within, body section.login select:focus-visible {
    background: none;
    box-shadow: none;
    border: 4px solid rgba(0, 0, 0, 0.5);
}

body section.login select:disabled {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: none;
}
body section.login input:disabled {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: none;
}

body section.login .loginTittle{
    text-align: center;
    margin-bottom: 20px;
}

body section.login .loginTittle h1 {
    text-transform: uppercase;
    margin-bottom: 0;
}

body section.login .loginTittle h3 {
    text-transform: uppercase;

}

body section.login .formLogin .date {
    text-transform: uppercase;
    
}

body section.login .formLogin .date label {
    padding-left: 15px;
    margin-bottom: 0;
}

body section.login .formLogin .date .divsDate .col-4 {
    padding-left: 5px;
    padding-right: 5px;
}

body section.login .formLogin .date .divsDate .col-4:first-child {
    padding-left: 0;
}
body section.login .formLogin .date .divsDate .col-4:last-child {
    padding-right: 0;
}

body section.login .formLogin .btn {
    background: #ffad38;
    border: 4px solid #000000;
    border-radius: 0;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    color: #000000;
}




.new {
    padding: 50px;
}
  
.form-group {
    display: block;
    padding-left: 35px;
    margin-bottom: 15px;
}

.form-group.checkboxLogin {
    padding-left: 5px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    width: calc(100% - 40px);
    left: 40px;
}

.form-group label.cads {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    left: 0;
    width: 100%;
}

.form-group label.cads a{
    text-decoration: underline;
    color: #555;
}

.form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 3px solid #000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: -26px;
    left: -35px;
}

.form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 14px;
    border: 3px solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.msg {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.loginTittle .imgOK img {
    width: 70px;
}

.loginTittle .imgOK {
    margin-bottom: 20px;
}

.videoCanvas {
    margin-bottom: 20px;
}
.videoCanvas .imgBase {
    opacity: 0;
    z-index: -999;
}
.videoCanvas .insideVideo {
    position: relative;
    padding: 0 15px;
    width: 100%;
    max-width: 750px;
}
.videoCanvas img {
    width: 100%;
}

.videoCanvas .videoFull {
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    z-index: 999;
    cursor: pointer;
}

.cadastroOK h1 {
    padding-bottom: 20px;
}

.cadastroOK .formLogin {
    margin-top: 50px;
}

.popLoad {
	position: fixed;
	background: #F6AD44;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	overflow: hidden;
	transition: all 0.3;
}

.popLoad .spinner-border {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	color: #FFF;
	border-width: .3rem;
	transition: all 0.3;
}

.footer {
    padding: 0;
}

.footer img {
    width: 100%;
}