@font-face {
    font-family: 'Globotipo Rounded';
    src: url('GlobotipoRounded-Bold.eot');
    src: url('GlobotipoRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('GlobotipoRounded-Bold.woff2') format('woff2'),
        url('GlobotipoRounded-Bold.woff') format('woff'),
        url('GlobotipoRounded-Bold.ttf') format('truetype'),
        url('GlobotipoRounded-Bold.svg#GlobotipoRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Globotipo Condensada';
    src: url('GlobotipoCondensada-Bold.eot');
    src: url('GlobotipoCondensada-Bold.eot?#iefix') format('embedded-opentype'),
        url('GlobotipoCondensada-Bold.woff2') format('woff2'),
        url('GlobotipoCondensada-Bold.woff') format('woff'),
        url('GlobotipoCondensada-Bold.ttf') format('truetype'),
        url('GlobotipoCondensada-Bold.svg#GlobotipoCondensada-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

