<section class="data container rownopad justify-content-start align-items-start" id="data">
    <div class=" margin-bot col-12">
        <h4 class="title-color">Propague / Globo PPA</h4><img class="primo" src="imgs/logoPrimo-40px.png">
        <div class="btns"> <button type="button" class="btn" id="btnAtt"><img src="imgs/reloadBtn.png"></button> <button
                type="button" class="btn" id="btnDownload" onclick="DownloadTable()"><img
                    src="imgs/downloadBtn.png"></button> </div>
    </div>
    <header class="">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist"> 
                <a class="nav-item nav-link active"
                id="tabela01" data-toggle="tab" href="#navTabela01" role="tab" aria-controls="navTabela01"
                aria-selected="true">Ações</a> 
                <a class="nav-item nav-link"
                id="tabela02" data-toggle="tab" href="#navTabela02" role="tab" aria-controls="navTabela02"
                aria-selected="true">Usuários</a> 
        </nav>
    </header>
    <div class="col-12">
        <div class="tab-content px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="navTabela01" role="tabpanel" aria-labelledby="tabela01">
                <table class="table table-borderless" id="table_actions">
                    <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Ação</th>
                            <th scope="col">Hora</th>
                        </tr>
                    </thead>
                    <tbody> </tbody>
                </table>
            </div>
            <div class="tab-pane fade show" id="navTabela02" role="tabpanel" aria-labelledby="tabela02">
                <table class="table table-borderless" id="table_users">
                    <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Sobrenome</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Área</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Dia</th>
                            <th scope="col">Mês</th>
                            <th scope="col">Ano</th>
                            <th scope="col">Interesse</th>
                            <th scope="col">Termos</th>
                            <th scope="col">Newsletter</th>
                            <th scope="col">Entrou</th>
                            <th scope="col">Hora</th>
                        </tr>
                    </thead>
                    <tbody> </tbody>
                </table>
            </div>
        </div>
    </div>
</section>