@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .desk {
        display: none;
    }

    .mobile {
        display: block;
    }
    .btns {
        position: fixed;
        right: 10px;
        width: 60px;
        bottom: 10px;
        top: auto;
    }
}

@media (max-width: 992px) and (min-width: 770px) {
}

@media (max-width: 768px) {
   
}

@media (max-width: 680px) {
    .formLogin {
         width: calc(100% - 30px);
    }
}

@media (max-width: 600px) {
    .nav-tabs .nav-link {
        background: url(../imgs/tab.png);
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        width: 120px;
        height: 48px;
        line-height: 48px;
        padding: 0;
        transition: all 0.3s;
        border: 0;
        color: #909090;
    }
}

@media (max-height: 900px) {
}

@media (max-height: 800px) {
}

@media (max-height: 600px) {
}


@media (max-width: 450px) {
    .nav-tabs .nav-link {
        background: url(../imgs/tab.png);
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        transition: all 0.3s;
        border: 0;
        color: #909090;
        font-size: 0.5rem;
        text-transform: uppercase;
    }
    th {
        font-size: 0.9rem;
        font-weight: normal;
    }
    table {
        font-size: 0.8rem;
    }
    .table td, .table th {
        padding: 0.75rem 0.30rem;
    }
    td {
        max-width: calc(25vw - 30px);
    }
}